<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats everywhere</title>
    <!-- Compiled and minified CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Cats</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h4>Hot lolcats in your area</h4>
        <div class="col s2 offset-s5">
            <button id="start" class="btn waves-effect">Get started</button>
        </div>
        <div id="cat" class="col s6 offset-s3">
            <img id="cat_img" width="400px" height="400px" src="" alt="Get started !">
            <button id="like">Like</button>
            <button id="dislike">Dislike</button>
            <button id="report">Report broken link</button>
        </div>
    </div>
</div>
<script>
        var socket = io();
        var cats_print;
        var i = 0;
        function start() {
            $('#start').remove();
            socket.emit('print_cat');
        }
        socket.on('cats', function (cats) {
            cats_print = cats;
            print();
        });
        function print() {
            $('#cat_img').attr('src', cats_print[i]);
        }
        $('#start').click(function () {
            start();
        });
        $('#like').on('click', function () {
            i++;
            print();
            socket.emit('upvote', cats_print[i])
        });
        $('#dislike').on('click', function () {
            i++;
            print();
        });
</script>
</body>
</html>