<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats everywhere</title>
    <!-- Compiled and minified CSS -->
    <script src="/socket.io/socket.io.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Cats</a>
        <ul id="nav-mobile" class="left">
            <li><a href="ranks">Rankings</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" id="best">

    </div>
</div>

<script>
    var socket = io();
    $(document).ready(function () {
       socket.emit('getRanks');
    });
    socket.on('ranks', function (cats) {
        for (var i = 5; i > 0; i--){
            $('#best').prepend('<p>Votes: '+ cats[i].votes +'</p><img width="400px" height="400px" src='+cats[i].url+'><br>')
        }
    })
</script>
</body>
</html>